@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@600&display=swap');

body {
  font-family: "Roboto Mono", monospace;
  min-height: 600px;
  background-image: url("");
  background:linear-gradient(to right,#6363da,#db5fa3);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 80px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 16px;
}

.page-logo {
  width: 200px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 15px;
  right: 20px;
}

.github-logo{
  width: 40px;
  position: absolute;
  top: 45px;
  right: 20px;
}

@media (max-height: 500px) {
  body {
    min-height: 800px;
  }
}

input {
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

.tentativa{
  color: white;
}

.resultado {
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
}